

/* styles.css */
.title-heading {
    /*  color: blue; */
    font-size: 24px;
    text-align: center;
}


/* styles.css */
.email-line {
    /*  color: blue; */
    font-size: 20px;
    text-align: center;
}
